:root{
    --primary-color: #912EF5;
    --black-color: #000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #C7E6D5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }